body{
  background-color: lightcoral;
  height: auto;
  width: auto;
}
.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: rgb(148, 106, 17) ;
  text-align: center;
}

.container {
  margin: 60px 50px;
  background-color: rgb(210, 100, 100);
  box-shadow: 3px 3px 5px rgba(210, 100, 100, 0.5);
  border-radius: 5px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.photo {
  height: 200px;
  object-fit:cover;
  width: 200px;
  padding: 15px 25px 15px 25px;
  border-radius: 50%;
}

.slide {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  padding: 15px 25px 15px 25px;
  position:absolute;
}

.main-photo {
  height:230px;
}
#hyenes-card {
  flex-grow: 1;
  text-align: right;
}
#slide-3 {
  animation: fadeOut;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* #slide-2 {
  animation: fadeOut, fadeIn;
  animation-duration: 2000ms, 2000ms;
  animation-delay:2000ms, 8000ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite, infinite;
}

#slide-1 {
  animation: fadeOut, fadeIn;
  animation-duration: 2000ms, 2000ms;
  animation-delay:4000ms, 10000ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite, infinite;
} */

@keyframes fadeOut {
  0% {
    opacity:1;
  }

  100% {
    opacity:0;
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }

  100% {
    opacity:1;
  }
}

.card {
  font-family: 'EB Garamond', serif;
  color: lightcyan;
}


.list {
  margin: 10px 10px;
  padding: 5px 10px;
}

.list li {
  display: inline-block;
  padding: 0px 5px;
}

@media (max-width: 1280px){
  .container {
    padding: 0 50px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 25px;
    margin-left: 25px;
  }

}

@media (max-width: 960px) {
  .container {
    width: 850px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 625px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 400px;
    height: 275px;
  }
}
